{% extends 'base.html.twig' %}

{% block title %} {{parent() }} {% endblock %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-md12 mx-auto" style="width: 565px;">
            {{ form(form_prestation) }}
        </div>
    </div>
</section>

{% endblock %}