{% extends 'base.html.twig' %}

{% block title %} {{ parent }} {% endblock %}

{% block body %}

<section class="container">
    <div class="row">
        <div class="col-12">
            <h2>Hébergeur</h2>
            <p>L’hébergement mis en place pour le site allyphotographie.fr est :</p>
            <p>PHPNET France – Nuxit – <a href="https://www.nuxit.com/">www.nuxit.com</a></p>
            <h2 class="mt-5">Accès au site</h2>
            <p>L'utilisateur de ce site reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site. Ally Potter ne saurait être tenue responsable des éléments en dehors de son contrôle et des dommages qui pourraient éventuellement être subis par l'environnement technique de l'utilisateur et notamment, ses ordinateurs, logiciels, équipements réseaux et tout autre matériel utilisé pour accéder ou utiliser le service et/ou les informations.</p>
            <p>Il est rappelé que le fait d'accéder ou de se maintenir frauduleusement dans un système informatique, d'entraver ou de fausser le fonctionnement d'un tel système, d'introduire ou de modifier frauduleusement des données dans un système informatique constitue des délits passibles de sanctions pénales.</p>
            <h2 class="mt-5">Limitation des responsabilités</h2>
            <p>Ally Potter s'attache à transmettre des informations régulièrement mises à jour, notamment sur les actualités ainsi que sur le contenu des articles. Toutefois des informations erronées ou des omissions peuvent être constatées, suite notamment à des erreurs de saisie ou de mise en page. Si vous en faites le constat nous vous invitons à nous le signaler pour que nous puissions procéder à leur rectification.</p>
            <p>Nous nous réservons par ailleurs le droit de modifier les informations ou les éventuelles offres commerciales fournies par le présent site, dans le cadre de nos opérations d'actualisation et de mise à jour des données, et ce sans préavis.</p>
            <p>Les liens hypertextes mis en oeuvre au sein du présent site Internet, en direction d'autres sites et/ou de pages personnelles et d'une manière générale vers toutes ressources existantes sur Internet, ne sauraient engager la responsabilité de Ally Potter. De même que la société Ally Photographie ne pourra en aucune façon être tenue pour responsable des sites ayant un lien hypertexte avec le présent site et décline toute responsabilité quant à leur contenu et à leur utilisation.</p>
            <h2 class="mt-5">Droits d'auteur</h2>
            <p>La présentation et chacun des éléments, y compris les marques, logos et noms de domaine, apparaissant sur le site allyphotographie.fr sont protégés par les lois en vigueur sur la propriété intellectuelle, et appartiennent à Ally Potter ou font l’objet d’une autorisation d’utilisation.</p>
            <p>Aucun élément composant le Site (textes des articles, images, logos, code html, …) ne peut être copié, reproduit, modifié, réédité, chargé, dénaturé, transmis ou distribué de quelque manière que ce soit, sous quelque support que ce soit, de façon partielle ou intégrale, sans l’autorisation écrite et préalable d'Ally Potter et sous réserve du respect des droits de propriété intellectuelle et de tout autre droit de propriété dont il est fait mention. Seule la copie à usage privé est autorisée pour votre usage personnel, privé et non commercial, sur votre ordinateur personnel.</p>
            <p>Ally Potter se réserve le droit de poursuivre tout acte de contrefaçon de ses droits de propriété intellectuelle.</p>
        </div>
    </div>
</section>

{% endblock %}
