

<div class="space"></div>

<section class="container mt-5">
    <h2 class="title-footer">Suivez-moi sur Instagram</h2>
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/4622b08a98c55e89bc142e10ca735bef.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>


</section>
<section class="container footer mt-5 mb-5">
    <div class="row">
        <div class="col-lg-3 offset-lg-3 col-sm-4 offset-sm-2">
            <p>© Ally Potter | Tous droits réservés</p>
            <a href="{{ path('mentions_legales') }}" class="link-footer">Mentions légales</a>
            <p>Site web par Emilie Treuil</p>
        </div>
        <div class="col-lg-3 offset-lg-2 col-sm-4 offset-sm-2">
            <p class="para-footer">Me contacter</p>
            <ul>
                <li><a href="{{ path('contact') }}" class="link-footer">Formulaire</a></li>
                <li><a href="https://www.instagram.com/allypotter.photographie/" target="_blank" class="link-footer">Instagram</a></li>
            </ul>
        </div>
    </div>
</section>

    {# JS BOOTSTRAP #}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>